$page-header: (
  "text-size": 1.5rem,
  "line-height": 2rem,
  "text-weight": 700,
);

$section-header: (
  "text-size": 2.2rem,
  "line-height": 2.6rem,
  "text-weight": 700,
);

$section-subheader: (
  "text-size": 1.5rem,
  "line-height": 2rem,
  "text-weight": 600,
);

$body-copy: (
  "text-size": 1.3rem,
  "line-height": 1.7rem,
  "text-weight": 400,
);

$footer-copy: (
  "text-size": 1.3rem,
  "line-height": 1.7rem,
  "text-weight": 400,
);
$button-text: (
  "text-size": 1.3rem,
  "line-height": 1.7rem,
  "text-weight": 700,
);
$label-text: (
  "text-size": 1.3rem,
  "line-height": 1.7rem,
  "text-weight": 700,
);
