$page-header: (
  "text-size": 60px,
  "line-height": 68px,
  "text-weight": 700,
);

$section-header: (
  "text-size": 36px,
  "line-height": 44px,
  "text-weight": 700,
);

$section-subheader: (
  "text-size": 24px,
  "line-height": 32px,
  "text-weight": 600,
);

$body-copy: (
  "text-size": 14px,
  "line-height": 22px,
  "text-weight": 400,
);

$footer-copy: (
  "text-size": 14px,
  "line-height": 20px,
  "text-weight": 400,
);
$button-text: (
  "text-size": 12px,
  "line-height": 20px,
  "text-weight": 700,
);
$label-text: (
  "text-size": 12px,
  "line-height": 20px,
  "text-weight": 700,
);
