//responsive breaks - min-widths
$break-mobile: 6.25rem;
$break-tablet: 48rem;
$break-desktop: 80rem;

$margin-mobile-LR: 1.8rem;
$margin-tablet-LR: 2.4rem;
$margin-desktop-LR: 2.4rem;

$margin-mobile-between-components: 1rem;
$margin-tablet-between-components: 2.25rem;
$margin-desktop-between-components: 2.25rem;

$margin-top-headline-mobile: 1.5rem;
$margin-bottom-headline-mobile: 1rem;

$margin-top-headline-tablet: 3rem;
$margin-bottom-headline-tablet: 2.25rem;

$margin-top-headline-desktop: 3rem;
$margin-bottom-headline-desktop: 2.25rem;
