@import "./partials/resets";
@import "./partials/mixins";
@import "./partials/variables";

@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.woff2") format("woff2"),
    url("../assets/fonts/AvenirNextLTPro-Regular.woff") format("woff"),
    url("../assets/fonts/AvenirNextLTPro-Regular.otf") format("otf"),
    url("../assets/fonts/AvenirNextLTPro.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Demi.woff2") format("woff2"),
    url("../assets/fonts/AvenirNextLTPro-Demi.woff") format("woff"),
    url("../assets/fonts/AvenirNextLTPro-Demi.otf") format("otf"),
    url("../assets/fonts/AvenirNextLTPro-Demi.ttf") format ("ttf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.woff2") format("woff2"),
    url("../assets/fonts/AvenirNextLTPro-Bold.woff") format("woff"),
    url("../assets/fonts/AvenirNextLTPro-Bold.otf") format("otf"),
    url("../assets/fonts/AvenirNextLTPro-Bold.ttf") format ("ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

// Handling the responsiveness
body {
  background: yellow;
  // The normal background color is set to yellow

  @include devices(tablet) {
    background: lightblue;

    // code set for tablet
  }

  @include devices(mobile) {
    background: aquamarine;

    h1 {
      color: red;
    }
    // code set for mobile
  }
}
