@use "./partials/resets";
@use "./partials/mixins";
@use "./partials/fonts";
@use "./partials/variables";
@use "./partials/colours";
@use "./partials/mobile-type" as m;
@use "./partials/tablet-type" as t;
@use "./partials/desktop-type" as d;
@use "sass:map";

body {
  display: flex;
  flex-direction: column;
  font-family: fonts.$font-name;
  min-width: 100%;
  min-height: 100vh;

  a {
    &:link {
      text-decoration: none;
      color: colours.$White;
    }
    &:visited {
      text-decoration: none;
      color: colours.$White;
    }
    &:hover {
      text-decoration: none;
      color: colours.$White;
    }
    &:active {
      text-decoration: none;
      color: colours.$White;
    }
  }
}
.nav {
  background-color: colours.$BandSite-Black;
  color: colours.$White;

  @include mixins.devices(tablet) {
    display: flex;
    align-items: center;
    height: 5rem;
  }

  &__logo {
    padding: 0.5rem;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 600;
    text-align: center;

    @include mixins.devices(tablet) {
      font-size: 2rem;
      line-height: 2rem;
      font-weight: 600;
      padding: 2rem;
    }
  }

  &__list {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    @include mixins.devices(tablet) {
      list-style-type: none;
      height: 100%;
    }
  }

  &__list a {
    color: colours.$Mercury;
    font-size: 1.5rem;

    &:link {
      text-decoration: none;
    }
    &:visited {
      text-decoration: none;
    }
    &:hover {
      text-decoration: none;
      color: colours.$White;
    }
    &:active {
      text-decoration: none;
      color: colours.$White;
    }
  }

  &__link {
    width: 100%;
    text-align: center;
    padding: 0.5rem;

    @include mixins.devices(tablet) {
      padding: 1.6rem 0;
      margin: 1.2rem;
    }

    &:hover {
      border-bottom: 0.3rem solid white;
      color: colours.$White;
      font-weight: 700;

      @include mixins.devices(tablet) {
        border-bottom: 0.4rem solid white;
      }
    }
    &:active {
      border-bottom: 0.3rem solid white;
      color: colours.$White;
      font-weight: 700;

      @include mixins.devices(tablet) {
        border-bottom: 0.4rem solid white;
      }
    }
  }

  &__link--active {
    color: colours.$White;
    border-bottom: 0.3rem solid white;
    font-weight: 700;

    @include mixins.devices(tablet) {
      border-bottom: 0.4rem solid white;
    }
  }
}

.hero {
  background-image: url(../assets/images/hero-shows.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 25rem;
  position: relative;
  overflow: hidden;
  @include mixins.devices(tablet) {
    height: 31.9rem;
  }
  @include mixins.devices(desktop) {
    height: 40rem;
  }
  &__overlay {
    font-size: 2.8rem;
    font-weight: 700;
    color: colours.$White;
    background-color: rgba(32, 32, 32, 0.5);
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 0 2rem;

    @include mixins.devices(tablet) {
      padding: 0 3rem;
    }
    @include mixins.devices(desktop) {
      flex-direction: row;
      justify-content: space-evenly;
      padding: 0 5rem;
      align-items: center;
    }
  }

  &__heading {
    font-size: 2.8rem;
    margin: 1.2rem 0;
    @include mixins.devices(tablet) {
      margin: 2rem 0;
    }
  }

  &__heading--sub {
    font-size: 1.2rem;
    @include mixins.devices(desktop) {
      position: absolute;
      top: 20%;
      left: 11%;
    }
  }

  &__iframe {
    width: 100%;
    padding-left: 0rem;

    @include mixins.devices(tablet) {
      width: 50%;
    }

    @include mixins.devices(desktop) {
    }
  }
}

.shows {
  padding: 0 variables.$margin-mobile-LR;
  background-color: colours.$White;

  @include mixins.devices(tablet) {
    padding: 0 variables.$margin-tablet-LR;
  }

  @include mixins.devices(desktop) {
    padding: 0 variables.$margin-desktop-LR;
  }

  .shows__col-heading {
    display: none;
    width: 60%;
    @include mixins.devices(tablet) {
      display: flex;
      justify-content: space-between;
    }
    @include mixins.devices(desktop) {
    }
  }

  &__heading {
    font-size: map.get(m.$section-header, "text-size");
    line-height: map.get(m.$section-header, "line-height");
    font-weight: map.get(m.$section-header, "text-weight");
    margin-top: variables.$margin-top-headline-mobile;
    margin-bottom: variables.$margin-bottom-headline-mobile;
    padding-top: variables.$margin-top-headline-mobile;

    @include mixins.devices(tablet) {
      font-size: map.get(t.$section-header, "text-size");
      line-height: map.get(t.$section-header, "line-height");
      font-weight: map.get(t.$section-header, "text-weight");
      margin-top: variables.$margin-top-headline-tablet;
      margin-bottom: variables.$margin-bottom-headline-tablet;
      padding-top: variables.$margin-top-headline-tablet;
    }

    @include mixins.devices(desktop) {
      font-size: map.get(d.$section-header, "text-size");
      line-height: map.get(d.$section-header, "line-height");
      font-weight: map.get(d.$section-header, "text-weight");
      margin-top: variables.$margin-top-headline-desktop;
      margin-bottom: variables.$margin-bottom-headline-desktop;
      padding-top: variables.$margin-top-headline-desktop;
    }
  }

  &__sub-heading {
    color: colours.$Silver;
    margin: 1rem 0;
    @include mixins.devices(tablet) {
      display: none;
    }
  }

  &__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid colours.$Mercury;
    justify-content: space-between;

    @include mixins.devices(tablet) {
    }
  }

  &__card {
    margin: 0.5rem 0;
    border-bottom: 1px solid colours.$Mercury;

    @include mixins.devices(tablet) {
      display: flex;
      flex-direction: row;
      align-items: center;
      text-align: left;
      // margin: 0 2rem;
      justify-content: space-between;
    }
  }

  &__date {
    font-size: 1.1rem;
    font-weight: 700;
  }

  &__venue {
    @include mixins.devices(tablet) {
      text-align: left;
    }
  }

  &__location {
    margin: 1rem 0;
  }

  &__button {
    padding: 0.5rem;
    width: 100%;
    font-size: map.get(m.$button-text, "text-size");
    line-height: map.get(m.$button-text, "line-height");
    font-weight: map.get(m.$button-text, "text-weight");
    color: colours.$White;
    background-color: colours.$BandSite-Black;
    height: 3.5rem;
    border-radius: 5px;
    margin-bottom: 1rem;

    @include mixins.devices(tablet) {
      width: 25%;
    }

    &:hover {
      background-color: colours.$BandSite-DarkBlack;
    }
  }
}

.footer {
  padding: 0 variables.$margin-mobile-LR;
  background-color: colours.$BandSite-Black;
  color: colours.$White;

  font-size: map.get(m.$footer-copy, "text-size");
  line-height: map.get(m.$footer-copy, "line-height");
  font-weight: map.get(m.$footer-copy, "text-weight");

  @include mixins.devices(tablet) {
    position: relative;
    padding: 0 variables.$margin-tablet-LR;
    background-color: colours.$BandSite-Black;
    color: colours.$White;

    font-size: map.get(t.$footer-copy, "text-size");
    line-height: map.get(t.$footer-copy, "line-height");
    font-weight: map.get(t.$footer-copy, "text-weight");
  }

  @include mixins.devices(desktop) {
    padding: 0 variables.$margin-desktop-LR;
    background-color: colours.$BandSite-Black;
    font-size: map.get(d.$footer-copy, "text-size");
    line-height: map.get(d.$footer-copy, "line-height");
    font-weight: map.get(d.$footer-copy, "text-weight");
  }

  &__line-break {
    @include mixins.devices(tablet) {
      white-space: pre-line;
    }
  }

  &__header {
    font-size: map.get(m.$section-header, "text-size");
    line-height: map.get(m.$section-header, "line-height");
    font-weight: map.get(m.$section-header, "text-weight");
    margin-top: variables.$margin-top-headline-mobile;
    margin-bottom: variables.$margin-bottom-headline-mobile;

    @include mixins.devices(tablet) {
      font-size: map.get(t.$section-header, "text-size");
      line-height: map.get(t.$section-header, "line-height");
      font-weight: map.get(t.$section-header, "text-weight");
      margin-top: variables.$margin-top-headline-tablet;
      margin-bottom: variables.$margin-bottom-headline-tablet;
    }

    @include mixins.devices(desktop) {
      font-size: map.get(d.$section-header, "text-size");
      line-height: map.get(d.$section-header, "line-height");
      font-weight: map.get(d.$section-header, "text-weight");
      margin-top: variables.$margin-top-headline-desktop;
      margin-bottom: variables.$margin-bottom-headline-desktop;
    }
  }

  &__row {
    @include mixins.devices(tablet) {
      width: 100%;
      display: flex;
    }
  }

  &__contact-card {
    @include mixins.devices(tablet) {
      width: 30%;
      margin: 0 3vw;
    }
    @include mixins.devices(desktop) {
      width: 15%;
      margin: 0 3vw;
    }
  }

  &__icon-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: variables.$margin-mobile-between-components;

    @include mixins.devices(tablet) {
      align-items: center;
      margin: 0 2rem;
    }
  }

  &__social-icon {
    width: 1.8rem;
    height: 2rem;
    margin: 0 2rem 0 0;
  }

  &__contact-name {
    margin-top: variables.$margin-mobile-between-components;
    font-weight: 700;
    @include mixins.devices(tablet) {
      margin-top: variables.$margin-tablet-between-components;
    }
    @include mixins.devices(desktop) {
      margin-top: variables.$margin-desktop-between-components;
    }
  }

  &__contact-company {
    font-weight: 700;
    margin-bottom: variables.$margin-mobile-between-components;
    @include mixins.devices(tablet) {
      margin-bottom: variables.$margin-tablet-between-components;
    }
    @include mixins.devices(desktop) {
      margin-bottom: variables.$margin-desktop-between-components;
    }
  }

  &__contact-email {
    margin: variables.$margin-mobile-between-components 0;
    @include mixins.devices(tablet) {
      margin: variables.$margin-tablet-between-components 0;
    }
  }

  &__logo {
    // padding: 0.5rem;
    margin-top: 3rem;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 600;
    text-align: left;

    @include mixins.devices(tablet) {
      font-size: 2rem;
      line-height: 2rem;
      font-weight: 600;
      text-align: left;
      position: absolute;
      position: absolute;
      top: 0%;
      left: calc(100% - 12rem);
    }
  }

  &__copyright {
    margin: variables.$margin-mobile-between-components 0;
    @include mixins.devices(tablet) {
      margin: variables.$margin-tablet-between-components 0;
    }
    @include mixins.devices(desktop) {
      margin: variables.$margin-desktop-between-components 0;
    }
  }
}
