* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Regular.woff") format("woff"), url("../assets/fonts/AvenirNextLTPro-Regular.otf") format("otf"), url("../assets/fonts/AvenirNextLTPro.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Demi.woff") format("woff"), url("../assets/fonts/AvenirNextLTPro-Demi.otf") format("otf"), url("../assets/fonts/AvenirNextLTPro-Demi.ttf") format "ttf";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Bold.woff") format("woff"), url("../assets/fonts/AvenirNextLTPro-Bold.otf") format("otf"), url("../assets/fonts/AvenirNextLTPro-Bold.ttf") format "ttf";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
body {
  display: flex;
  flex-direction: column;
  font-family: "AvenirNext LT Pro";
  min-width: 100%;
  min-height: 100vh;
}
body a:link {
  text-decoration: none;
  color: #ffffff;
}
body a:visited {
  text-decoration: none;
  color: #ffffff;
}
body a:hover {
  text-decoration: none;
  color: #ffffff;
}
body a:active {
  text-decoration: none;
  color: #ffffff;
}

.nav {
  background-color: #323232;
  color: #ffffff;
}
@media only screen and (min-width: 48rem) {
  .nav {
    display: flex;
    align-items: center;
    height: 5rem;
  }
}
.nav__logo {
  padding: 0.5rem;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 600;
  text-align: center;
}
@media only screen and (min-width: 48rem) {
  .nav__logo {
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 600;
    padding: 2rem;
  }
}
.nav__list {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
@media only screen and (min-width: 48rem) {
  .nav__list {
    list-style-type: none;
    height: 100%;
  }
}
.nav__list a {
  color: #e1e1e1;
  font-size: 1.5rem;
}
.nav__list a:link {
  text-decoration: none;
}
.nav__list a:visited {
  text-decoration: none;
}
.nav__list a:hover {
  text-decoration: none;
  color: #ffffff;
}
.nav__list a:active {
  text-decoration: none;
  color: #ffffff;
}
.nav__link {
  width: 100%;
  text-align: center;
  padding: 0.5rem;
}
@media only screen and (min-width: 48rem) {
  .nav__link {
    padding: 1.6rem 0;
    margin: 1.2rem;
  }
}
.nav__link:hover {
  border-bottom: 0.3rem solid white;
  color: #ffffff;
  font-weight: 700;
}
@media only screen and (min-width: 48rem) {
  .nav__link:hover {
    border-bottom: 0.4rem solid white;
  }
}
.nav__link:active {
  border-bottom: 0.3rem solid white;
  color: #ffffff;
  font-weight: 700;
}
@media only screen and (min-width: 48rem) {
  .nav__link:active {
    border-bottom: 0.4rem solid white;
  }
}
.nav__link--active {
  color: #ffffff;
  border-bottom: 0.3rem solid white;
  font-weight: 700;
}
@media only screen and (min-width: 48rem) {
  .nav__link--active {
    border-bottom: 0.4rem solid white;
  }
}

.hero {
  background-image: url(../assets/images/hero-shows.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 25rem;
  position: relative;
  overflow: hidden;
}
@media only screen and (min-width: 48rem) {
  .hero {
    height: 31.9rem;
  }
}
@media only screen and (min-width: 80rem) {
  .hero {
    height: 40rem;
  }
}
.hero__overlay {
  font-size: 2.8rem;
  font-weight: 700;
  color: #ffffff;
  background-color: rgba(32, 32, 32, 0.5);
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 0 2rem;
}
@media only screen and (min-width: 48rem) {
  .hero__overlay {
    padding: 0 3rem;
  }
}
@media only screen and (min-width: 80rem) {
  .hero__overlay {
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0 5rem;
    align-items: center;
  }
}
.hero__heading {
  font-size: 2.8rem;
  margin: 1.2rem 0;
}
@media only screen and (min-width: 48rem) {
  .hero__heading {
    margin: 2rem 0;
  }
}
.hero__heading--sub {
  font-size: 1.2rem;
}
@media only screen and (min-width: 80rem) {
  .hero__heading--sub {
    position: absolute;
    top: 20%;
    left: 11%;
  }
}
.hero__iframe {
  width: 100%;
  padding-left: 0rem;
}
@media only screen and (min-width: 48rem) {
  .hero__iframe {
    width: 50%;
  }
}
.shows {
  padding: 0 1.8rem;
  background-color: #ffffff;
}
@media only screen and (min-width: 48rem) {
  .shows {
    padding: 0 2.4rem;
  }
}
@media only screen and (min-width: 80rem) {
  .shows {
    padding: 0 8.4rem;
  }
}
.shows .shows__heading-overall {
  display: none;
  justify-content: space-between;
}
@media only screen and (min-width: 48rem) {
  .shows .shows__heading-overall {
    display: flex;
  }
}
@media only screen and (min-width: 80rem) {
  .shows .shows__heading-overall {
    display: flex;
  }
}
.shows .shows__col-heading {
  display: none;
}
@media only screen and (min-width: 48rem) {
  .shows .shows__col-heading {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
@media only screen and (min-width: 80rem) {
  .shows .shows__col-heading {
    width: 75%;
  }
}
@media only screen and (min-width: 80rem) {
  .shows .shows__col-heading-left {
    width: 37%;
  }
}
.shows .shows__col-row1 {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 48rem) {
  .shows .shows__col-row1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 3rem;
  }
}
.shows__heading {
  font-size: 2.2rem;
  line-height: 2.6rem;
  font-weight: 700;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  padding-top: 1.5rem;
}
@media only screen and (min-width: 48rem) {
  .shows__heading {
    font-size: 2.8rem;
    line-height: 3.2rem;
    font-weight: 700;
    margin-top: 3rem;
    margin-bottom: 2.25rem;
    padding-top: 3rem;
  }
}
@media only screen and (min-width: 80rem) {
  .shows__heading {
    font-size: 2.8rem;
    line-height: 3.2rem;
    font-weight: 700;
    margin-top: 3rem;
    margin-bottom: 2.25rem;
    padding-top: 3rem;
  }
}
.shows__sub-heading {
  color: #afafaf;
  margin: 1rem 0;
}
@media only screen and (min-width: 48rem) {
  .shows__sub-heading {
    display: none;
  }
}
.shows__container-overall {
  display: flex;
}
.shows__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #e1e1e1;
  justify-content: space-between;
}
@media only screen and (min-width: 48rem) {
  .shows__container {
    width: 100%;
  }
}
@media only screen and (min-width: 80rem) {
  .shows__container {
    width: 75%;
  }
}
@media only screen and (min-width: 48rem) {
  .shows__container-left {
    width: 0;
    align-items: flex-end;
  }
}
@media only screen and (min-width: 80rem) {
  .shows__container-left {
    width: 25%;
  }
}
.shows__card {
  margin: 0.5rem 0;
  border-bottom: 1px solid #e1e1e1;
}
@media only screen and (min-width: 48rem) {
  .shows__card {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    justify-content: space-between;
  }
  .shows__card:hover {
    background-color: #fafafa;
  }
  .shows__card:active {
    background-color: #e1e1e1;
  }
}
.shows__row {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 48rem) {
  .shows__row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 3rem;
  }
}
.shows__date {
  font-size: 1.1rem;
  font-weight: 700;
}
@media only screen and (min-width: 48rem) {
  .shows__venue {
    text-align: left;
  }
}
.shows__location {
  margin: 1rem 0;
}
.shows__button {
  padding: 0.5rem;
  width: 100%;
  font-size: 1.3rem;
  line-height: 1.7rem;
  font-weight: 700;
  color: #ffffff;
  background-color: #323232;
  height: 3.5rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}
@media only screen and (min-width: 48rem) {
  .shows__button {
    width: 35%;
  }
}
.shows__button__button--hidden {
  visibility: hidden;
}
.shows__button:hover {
  background-color: #000000;
}

.footer {
  padding: 0 1.8rem;
  background-color: #323232;
  color: #ffffff;
  font-size: 1.3rem;
  line-height: 1.7rem;
  font-weight: 400;
}
@media only screen and (min-width: 48rem) {
  .footer {
    position: relative;
    padding: 0 2.4rem;
    background-color: #323232;
    color: #ffffff;
    font-size: 1.2rem;
    line-height: 1.4rem;
    font-weight: 400;
  }
}
@media only screen and (min-width: 80rem) {
  .footer {
    padding: 0 2.4rem;
    background-color: #323232;
    font-size: 1.2rem;
    line-height: 1.4rem;
    font-weight: 400;
  }
}
@media only screen and (min-width: 48rem) {
  .footer__line-break {
    white-space: pre-line;
  }
}
.footer__header {
  font-size: 2.2rem;
  line-height: 2.6rem;
  font-weight: 700;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
@media only screen and (min-width: 48rem) {
  .footer__header {
    font-size: 2.8rem;
    line-height: 3.2rem;
    font-weight: 700;
    margin-top: 3rem;
    margin-bottom: 2.25rem;
  }
}
@media only screen and (min-width: 80rem) {
  .footer__header {
    font-size: 2.8rem;
    line-height: 3.2rem;
    font-weight: 700;
    margin-top: 3rem;
    margin-bottom: 2.25rem;
  }
}
@media only screen and (min-width: 48rem) {
  .footer__row {
    width: 100%;
    display: flex;
  }
}
@media only screen and (min-width: 48rem) {
  .footer__contact-card {
    width: 30%;
    margin: 0 3vw;
  }
}
@media only screen and (min-width: 80rem) {
  .footer__contact-card {
    width: 15%;
    margin: 0 3vw;
  }
}
.footer__icon-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 1rem;
}
@media only screen and (min-width: 48rem) {
  .footer__icon-list {
    align-items: center;
    margin: 0 2rem;
  }
}
.footer__social-icon {
  width: 1.8rem;
  height: 2rem;
  margin: 0 2rem 0 0;
}
.footer__contact-name {
  margin-top: 1rem;
  font-weight: 700;
}
@media only screen and (min-width: 48rem) {
  .footer__contact-name {
    margin-top: 2.25rem;
  }
}
@media only screen and (min-width: 80rem) {
  .footer__contact-name {
    margin-top: 2.25rem;
  }
}
.footer__contact-company {
  font-weight: 700;
  margin-bottom: 1rem;
}
@media only screen and (min-width: 48rem) {
  .footer__contact-company {
    margin-bottom: 2.25rem;
  }
}
@media only screen and (min-width: 80rem) {
  .footer__contact-company {
    margin-bottom: 2.25rem;
  }
}
.footer__contact-email {
  margin: 1rem 0;
}
@media only screen and (min-width: 48rem) {
  .footer__contact-email {
    margin: 2.25rem 0;
  }
}
.footer__logo {
  margin-top: 3rem;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 600;
  text-align: left;
}
@media only screen and (min-width: 48rem) {
  .footer__logo {
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 600;
    text-align: left;
    position: absolute;
    position: absolute;
    top: 0%;
    left: calc(100% - 12rem);
  }
}
.footer__copyright {
  margin: 1rem 0;
}
@media only screen and (min-width: 48rem) {
  .footer__copyright {
    margin: 2.25rem 0;
  }
}
@media only screen and (min-width: 80rem) {
  .footer__copyright {
    margin: 2.25rem 0;
  }
}/*# sourceMappingURL=shows.css.map */